<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">   
</head>
<div class = "navbar navbar-default navbar-fixed-top">
    <div id="header" class="mm-fixed-top">
        <a href="#mm-menu"><img src="/images/fullyscreened.jpeg"></a>
    </div>
    <div class="mobile-logo">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <?php if (startpoint_get_option('startpoint_logo') != '') { ?>
                    <a href="<?php echo esc_url( home_url('/') ); ?>">
                        <img src="/images/fullyscreened.jpeg">
                    </a>
                    <?php } else { ?><div class="logo-header"><h1><a href="<?php echo esc_url( home_url('/') ); ?>"></a></h1>
                    <p></p></div><?php } ?>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-wrapper single-page-nav clearfix">
        <div class="menu-wrapper-bg">
            <div class="container">
                <div class="row">
                    <div class = "social">
                        <ul class="navbar-right">
                            <li><a href="https://www.facebook.com/GoProteau/?fref=ts"><i class="fa fa-lg fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/fullyscreened"><i class="fa fa-lg fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <!-- logo -->
                        <div class="logo">
                            <?php if (startpoint_get_option('startpoint_logo') != '') { ?>
                            <a href="<?php echo esc_url( home_url('/') ); ?>">
                                <img src="/images/fullyscreened.jpeg">
                            </a>
                            <?php } else { ?><div class="logo-header"><h1><a href="<?php echo esc_url( home_url('/') ); ?>"></a></h1>
                            <p></p></div><?php } ?>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <nav class="menu-sp">
                            <?php if (is_front_page()) { ?>
                            <?php startpoint_frontpage_nav() ?>
                            <?php } else { ?>
                            <?php startpoint_nav(); ?>
                            <?php } ?>
                        </nav>
                        <div style="display:none">
                            <nav class="menu2" id="mm-menu">
                                <?php if (is_front_page()) { ?>
                                <?php startpoint_mobilefront_nav() ?>
                                <?php } else { ?>
                                <?php startpoint_mobile_nav(); ?>
                                <?php } ?>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class = "content">
        <div class = "container">
            <!-- Centered Pills -->
            <ul class="nav nav-pills nav-justified">
              <li><a href="#">1. About You</a></li>
              <li class="active"><a href="#">2. Additional Info</a></li>
              <li><a href="#">3. Financial</a></li>
              <li><a href="#">4. People</a></li>
              <li><a href="#">5.  Payment</a></li>
          </ul>
        <div class = "col-md-8 col-md-offset-2">
            <h1>Additional Info</h1>
            <form action="/submit2" method="POST">
                <label for="former_name">Former Last Name</label>
                <input type="text" class="form-control" name="former_name">
                <div class="form-inline">
                    <label for="height">Height</label>
                    <select class="form-control" name="height">
                        <option> </option>
                        <option value="1'">1'</option>
                        <option value="2'">2'</option>
                        <option value="3'">3'</option>
                        <option value="4'">4'</option>
                        <option value="5'">5'</option>
                        <option value="6'">6'</option>
                        <option value="7'">7'</option>
                        <option value="8'">8'</option>
                    </select>
                    <select class="form-control" name="height">
                        <option> </option>
                        <option value="1">1"</option>
                        <option value="2">2"</option>
                        <option value="3">3"</option>
                        <option value="4">4"</option>
                        <option value="5">5"</option>
                        <option value="6">6"</option>
                        <option value="7">7"</option>
                        <option value="8">8"</option>
                        <option value="9">9"</option>
                        <option value="10">10"</option>
                        <option value="11">11"</option>
                    </select>
                </div>
                <label for="marital_status">Marital Status</label>
                <select class="form-control" name="martial_status">
                    <option> </option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Seperated">Seperated</option>
                </select>
                <label for="eye_color">Eye Color</label>
                <input type="text" class="form-control" name="eye_color">
                <label for="hair_color">Hair Color</label>
                <input type="text" class="form-control" name="hair_color">
                <h3>Current Address</h3>
                <label for="street_line1">Street Line 1<span class="asterisk">*</span></label>
                <input type="text" class="form-control" name="street_line1"required>
                <label for="street_line2">Street Line 2</label>
                <input type="text" class="form-control" name="street_line2">
                <label for="street_line3">Street Line 3</label>
                <input type="text" class="form-control" name="street_line3">
                <div class="form-inline">
                    <label for="city">City, State/Province</label>
                    <input type="text" class="form-control" name="city">
                    <select class = "form-control" name="state">
                        <option> </option>
                        <option value="AK">AK</option>
                        <option value="AL">AL</option>
                        <option value="AR">AR</option>
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VA">VA</option>
                        <option value="VT">VT</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
                        <option value="AB">AB</option>
                        <option value="BC">BC</option>
                        <option value="MB">MB</option>
                        <option value="NB">NB</option>
                        <option value="NL">NL</option>
                        <option value="NS">NS</option>
                        <option value="NT">NT</option>
                        <option value="NU">NU</option>
                        <option value="ON">ON</option>
                        <option value="PE">PE</option>
                        <option value="QC">QC</option>
                        <option value="SK">SK</option>
                        <option value="YT">YT</option>
                    </select>
                </div>
                <label for="zip">Zip/Postal Code</label>
                <input type="text" class="form-control" name="zip">
                <label for="res_type">Residence Type<span class="asterisk">*</span></label>
                <select class="form-control" name="res_type"required>
                    <option></option>
                    <option value="Attached">Attached Family Home</option>
                    <option value="Detached">Detached Family Home</option>
                    <option value="Apartment">Apartment</option>
                </select>
                <label for="res_leaving">Reason for Leaving<span class="asterisk">*</span></label>
                <input type="text" class="form-control" name="res_leaving"required>
                <label for="curr_movein">Current Address Move-in Date<span class="asterisk">*</span></label>
                <input type="date" class="form-control" name="curr_movein"required>
                <label for="curr_moveout">Current Address Move-out Date<span class="asterisk">*</span></label>
                <input type="date" class="form-control" name="curr_moveout"required>
                <label for="curr_payment">Monthly Payment</label>
                <!--     fix currency input later -->
                <input type="text" class="form-control" name="curr_payment">
                <label for="ownedrented">Owned or Rented<span class="asterisk">*</span></label>
                <select class="form-control" name = "owndedrented"required>
                    <option value="Rented">Rented</option>
                    <option value="Owned">Owned</option>
                </select>
                <label for="comm_name">Community Name<span class="asterisk">*</span></label>
                <input type="text" class="form-control" name="comm_name"required>
                <label for="manager_name">Manager Name</label>
                <input type="text" class="form-control" name="manager_name">
                <label for="manager_phone">Manager Phone Number</label>
                <input type="text" class="form-control" name="manager_phone">
                <h3>Previous Address</h3>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="isPrevSame"> Check if previous address is same as current address
                    </label>
                </div>
                <script>
                    $(document).ready(function() {    
                        $("#isPrevSame").click(function(){
                            $("#prev_add").toggle(!(this.checked));
                        });    
                    });
                </script>
                <div id="prev_add" style="dispay:none">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check if previous address is not a US address
                        </label>
                    </div>
                    <label for="street_line1p">Street Line 1</label>
                    <input type="text" class="form-control" name="street_line1p">
                    <label for="street_line2p">Street Line 2</label>
                    <input type="text" class="form-control" name="street_line2p">
                    <label for="street_line3p">Street Line 3</label>
                    <input type="text" class="form-control" name="street_line3p">
                    <div class="form-inline">
                        <label for="cityp">City, State/Province</label>
                        <input type="text" class="form-control" name="cityp">
                        <select class = "form-control" name="statep">
                            <option> </option>
                            <option value="AK">AK</option>
                            <option value="AL">AL</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VA">VA</option>
                            <option value="VT">VT</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                            <option value="AB">AB</option>
                            <option value="BC">BC</option>
                            <option value="MB">MB</option>
                            <option value="NB">NB</option>
                            <option value="NL">NL</option>
                            <option value="NS">NS</option>
                            <option value="NT">NT</option>
                            <option value="NU">NU</option>
                            <option value="ON">ON</option>
                            <option value="PE">PE</option>
                            <option value="QC">QC</option>
                            <option value="SK">SK</option>
                            <option value="YT">YT</option>
                        </select>
                    </div>
                    <label for="zipp">Zip/Postal Code</label>
                    <input type="text" class="form-control" name="zipp">
                    <label for="res_typep">Residence Type</label>
                    <select class="form-control" name="res_typep">
                        <option></option>
                        <option value="Attached">Attached Family Home</option>
                        <option value="Detached">Detached Family Home</option>
                        <option value="Apartment">Apartment</option>
                    </select>
                    <label for="res_leavingp">Reason for Leaving</label>
                    <input type="text" class="form-control" name="res_leavingp">
                    <label for="curr_moveinp">Current Address Move-in Date</label>
                    <input type="date" class="form-control" name="curr_moveinp">
                    <label for="curr_moveoutp">Current Address Move-out Date</label>
                    <input type="date" class="form-control" name="curr_moveoutp">
                    <label for="curr_paymentp">Monthly Payment</label>
                    <!--     fix currency input later -->
                    <input type="text" class="form-control" name="curr_paymentp">
                    <label for="ownedrentedp">Owned or Rented</label>
                    <select class="form-control" name = "owndedrentedp">
                        <option value="Rented">Rented</option>
                        <option value="Owned">Owned</option>
                    </select>
                    <label for="comm_namep">Community Name</label>
                    <input type="text" class="form-control" name="comm_namep">
                    <label for="manager_namep">Manager Name</label>
                    <input type="text" class="form-control" name="manager_namep">
                    <label for="manager_phonep">Manager Phone Number</label>
                    <input type="text" class="form-control" name="manager_phonep">
                </div>
                <h3>Vehicles</h3>
                <label for="vehicles_owned">Number of Vehicles owned</label>
                <input type="text" class="form-control" name="vehicles_owned">
                <label for="renting_car">Are you interested in renting a car in the US?</label>
                <select class="form-control" name = "renting_car">
                    <option></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <h3>General Questions</h3>
                <label for="rent_sue">Have you ever been sued for rent?<span class="asterisk">*</span></label>
                <select class="form-control" name="rent_sue" required>
                    <option value="Yes">Yes</option>
                    <option value="No"selected="selected">No</option>
                </select>
                <label for="damage_sue">Have you ever been sued for damanges?<span class="asterisk">*</span></label>
                <select class="form-control" name="damage_sue" required>
                    <option value="Yes">Yes</option>
                    <option value="No" selected="selected">No</option>
                </select>
                <label for="evicted">Have you ever been evicted?<span class="asterisk">*</span></label>
                <select class="form-control" name="evicted" required>
                    <option value="Yes">Yes</option>
                    <option value="No"selected="selected">No</option>
                </select>
                <label for="defaulted">Have you ever defaulted on a lease<span class="asterisk">*</span></label>
                <select class="form-control" name="defaulted" required>
                    <option value="Yes">Yes</option>
                    <option value="No" selected="selected">No</option>
                </select>
                <label for="bankruptcy">Have you ever filed for bankruptcy protection?<span class="asterisk">*</span></label>
                <select class="form-control" name="bankruptcy" required>
                    <option value="Yes">Yes</option>
                    <option value="No" selected="selected">No</option>
                </select>
                <label for="smoke">Do you smoke?<span class="asterisk">*</span></label>
                <select class="form-control" name="smoke" required>
                    <option value="Yes">Yes</option>
                    <option value="No" selected="selected">No</option>
                </select>
                <button type="submit" class="btn btn-default">Next</button>
            </form>
        </div>
    </div>
</div>
<!-- *** Testimonial Slider Ends *** -->
</body>
<?php get_footer(); ?>
</html>